<div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
            {% if answers.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{answers.previous_page_number}}">Previous</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="#">{{answers.number}}</a></li>
            {% if answers.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{answers.next_page_number}}">Next</a></li>
            {% endif %}
            <li class="page-item"><a class="page-link" href="?page=0">Last</a></li>
        </ul>
    </nav>
</div>