{% extends "base.html" %} {% block content %}
<div class="mt-3 mb-3">
    <h1 class="d-inline me-3">Autorization</h1></div>
<div class="col-lg mb-3 mt-3">


    <div class="input-group"   style="width: 35%;">
        <span class="input-group-text" id="nick">Log</span>
        <input type="text" class="form-control">
    </div>
     <div class="input-group mt-2"   style="width: 35%;">
        <span class="input-group-text" id="pass">Password</span>
        <input type="password" class="form-control">
    </div>
    <button class="mt-4 btn btn-dark" type="submit">Log in</button>
</div>
{% endblock %}
